<div class="navbar bg-danger navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">Ana Sayfa</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/products" class="nav-link">Ürünler</a>
            </li>
            <li class="nav-item">
                <a asp-controller="" asp-action="" class="nav-link">Sepet</a>
            </li>
            <li class="nav-item">
                <a asp-controller="" asp-action="" class="nav-link">Siparişler</a>
            </li>
            <li class="nav-item">
                <a asp-controller="admin" asp-action="createproduct" class="nav-link">Ürün Ekle</a>
            </li>
            <li class="nav-item">
                <a asp-controller="admin" asp-action="productlist" class="nav-link">Ürünler</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 3</a>
            </li>
        </ul>

    </div>
</div>