<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="diplay4">BagStore</h1>
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit accusamus id velit
                porro, fugiat a delectus assumenda incidunt distinctio odio ipsam laudantium dignissimos nobis enim
                repellat voluptates placeat iste qui!</p>
        </div>
    </div>
</header>