<div class="navbar bg-dark navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">Home</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/products" class="nav-link">Shop</a>
            </li>
            <li class="nav-item">
                <a asp-controller="" asp-action="" class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
                <a asp-controller="" asp-action="" class="nav-link">Orders</a>
            </li>
            <li class="nav-item">
                <a href="/admin/products" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link">Categories</a>
            </li>
        </ul>

    </div>
</div>